* {
    box-sizing: border-box;
}

body {
    height: 100hv;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(144, 197, 214);
}

.blink {
    animation: blink 0.4s infinite alternate;
    -webkit-animation: blink 0.4s infinite alternate;
  }
  
header { 
    color: black;
    letter-spacing: 1vmin;
    padding-top: 10px;
    text-align: center;
}

.message {
    text-align: center;
    display: none;
    font-size: x-large;
    color: orangered;
}

button {
    margin: 4vmin;
    padding: 2vmin;
    font-size: medium;
    border-radius: 2vmin;
    border: 0.5vmin solid black;
    color: rgb(0, 0, 0);
}

button:hover {
    color: black;
    background-color: rgb(164, 206, 243);
}

