* {
    box-sizing: border-box;
}

body {
    height: fit-content;
    margin: 1vmin;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: cornsilk;
}

header {
    color: black;
    letter-spacing: 1vmin;
    padding-top: 10px;
    text-align: center;
}

#slotMachine {
    text-align: center;
    margin-top: 1vmin;
    display: table;
    flex-direction: column;
    justify-content: center;
    display: table;
    clear: both;
}

.slot {
    font-size: 6vmin;
    height: 11vmin;
    border: 0.5vmin solid #000;
    margin: 0.5vmin;
    padding: 2vmin;
    float: left;
    width: auto;
    padding: 10px;
    height: 100px;
    background-color: white;
}

.credit_input {
    padding-top: 20px;
    font-size: x-large;
}

button {
    font-size: 2vmin;
    margin-top: 3vmin;
    margin-bottom: 3vmin;
    padding: 1vmin;
    border-radius: 4vmin;
    border: 0.3vmin solid black;
    color: black;
    width: 150px;
}

button:hover {
    color: black;
    background-color: rgb(164, 206, 243);
}

#result {
    font-size: 3vmin;
    color: rgb(167, 32, 32);
}

#credits {
    font-size: 10vmin;
    margin: 10vmin;
}

input[type="number"] {
    padding: 1vmin;
    font-size: large;
    border: 0.3vmin solid black;
    border-radius: 1vmin;
    margin-top: 20px;
}
