* {
    box-sizing: border-box;
}

body {
    height: fit-content;
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(144, 197, 214);
}

header { 
    color: black;
    letter-spacing: 1vmin;
    padding-top: 10px;
    text-align: center;
}

#slotMachine {
    text-align: center;
    margin-top: 50px;
  }
  
  .slot {
    display: inline-block;
    font-size: 48px;
    width: 100px;
    height: 100px;
    border: 2px solid #000;
    margin: 10px;
    padding: 20px;
  }
  
  button {
    font-size: 18px;
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 4vmin;
    border: 0.1vmin solid black;
    color: black;
  }

  button:hover {
    color: black;
    background-color: rgb(164, 206, 243);
} 
  
  #result {
    font-size: 24px;
    margin-top: 20px;
  }
  
  #credits {
    font-size: 18px;
    margin-top: 20px;
  }
  
  input[type="number"] {
    padding: 8px;
    font-size: large;
    border: 0.5px solid black;
    border-radius: 1vmin;
    margin-right: 20vmin;
  }
  
  #error {
    color: red;
    font-weight: bold;
  }
  